/*General*/

:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
.todo{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/*Menu*/

.menu{
    display: flex;
    width: 1136px;
    padding: 32px 0px;;
    justify-content: space-between;
    align-items: center;
    
}
.menu__header{
    display: flex;
    align-items: center;
    gap: 8px;
}
.vector{
    width: 24px;
    height: 24px;
}
.menu__title{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 32px;

}
.menu__list{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 32px;
}
.menu__list li:last-child{
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Hero*/

.title__div{
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    top: 32px;
    bottom: 32px;
    width: 1136px;
    justify-content: space-between;
    align-items: center;
}
.title__profile{
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 368px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.title__container{
    display: flex;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    width: 751px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}
.title__bio{
    align-self: stretch;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title__subsection{
    align-self: stretch;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title__network{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    gap: 32px;
}
.title__network__item{
    display: flex;
    align-items: center;
    gap: 4px;
}

/*Sobre mi*/

.about{
    box-sizing: border-box;
    display: flex;
    padding: 64px;
    width: 1312px;
    height: 255px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.about__container{
    box-sizing: border-box;
    margin: 64px;
    display: flex;
    width: 1136px;
    height: 255px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.about__title{
    align-self: stretch;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.about__paragraph{
    width: 751px;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*Skills*/

.

