body {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    max-width: 100%;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Header*/

.menu{
    display: flex;
    position: absolute;
    width: 1136px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 9999;   
}

.menu__header{
    display: flex;
    align-items: center;
    color: var(--preto-100, #464646);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu__title{
    width: auto 102px;
    height: auto 19px;
}

.menu__list{
    display: flex;
    align-items: center;
    gap: 32px;
}

/*Hero*/

.title__div{
    display: flex;
    width: 1136px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.title__profile{
    width: 368px;
    height: 368px;
    padding: 100px;
    flex-shrink: 0;
}


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}